@import 
url('https://fonts.googleapis.com/css?family=Raleway:wght@300;400;700;900');

:root{
    --blue: #2596be;
    --accent: #98d4dc;
}

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body{
    margin: 0;
    font-family: 'Raleway';
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.logo{
    display: none;
    height: 10rem;
}

/* column system
----------------*/

[class^=col-]{
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child{
    padding-left: 0;
    margin-top: 0;
}

.col-1{
    width: 50%;
    float: left;
}

@media(min-width: 40rem){
    .col-3,.col-1{
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }

    .col-3:first-child,.col-1:first-child{
        padding-left: 0;
    
    }

    .col-3:last-child,.col-1:last-child{
        padding-right: 0;
    }

    .col-3{
        width: 50%;
        text-align: left;
    }
    
    .col-1{
        width: 25%;
    }
}

/*typography
----------------*/
h1{
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}


.container{
    width: 95%;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after{
    content: '';
    display: block;
    clear: both;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span{
    font-weight: 300;
    display: block;
    font-size: .9em;
}

.title-cta{
    margin: 0 0 .5em;
}

.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

@media (min-width: 60rem){
    .logo{
        float: left;
        display: block;
    }
    nav{
        float: right;
    }
}

/*button
----------------*/

.button{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-color: var(--accent);
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-small{
    font-size: 0.7rem;
    font-weight: 700;
}

.button-accent{
    background:var(--blue);
    color: var(--accent);
    border-color: var(--accent);
}

.button-accent:hover,
.button-accent:focus{
    color: var(--blue);
    border-color: var(--blue);
    background:var(--accent);
}

.button-dark{
    color: #232323;
    border-color: #232323;
}

.button-dark:hover,
.button-dark:focus{
    background:#232323;
    color: var(--blue);
}

@media (mind-width:60rem){
    .button{
        font-size: 1.5rem;
    }
}

/*header
----------------*/
header{
    left: 0;
    right: 0;
    position: absolute;
    margin: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin: 1em;
    display: inline-block;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    background: var(--blue);
    color: var(--accent);
    border-color: var(--accent);
}

nav a:hover,
nav a:focus{
    background: var(--accent);
    color: var(--blue);
    border-color: var(--blue);
}


@media (min-width: 60rem){
    p{
        font-size: 1.2rem;
        line-height: 1.6;
    }
    .title{
        font-size: 3.3rem;
    }
}


/* home-hero
----------------*/

.home-hero{
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;

}

@media (min-width:60rem){
    .home-hero{
        height: 100vh;
        padding-top: 40vh;
    }
} 

.headertext{
    color:var(--accent);
    background-clip: content-box;
    background-color: rgba(27, 150, 190, .6);
}

/* home-gallery
----------------*/

.home-gallery{
    background-size: cover;
    background-position: center;
    padding-top: 10em;
}

@media (min-width:60rem){
    .home-hero{
        height: 100vh;
        padding-top: 40vh;
    }
} 

.headertext{
    color:var(--accent);
    background-clip: content-box;
    background-color: rgba(27, 150, 190, .6);
}



/* home-about
----------------*/

.home-about-textbox{
    background-color: #232323;
    padding:4em;
    width: 100vw;
    margin-left: -2.5vw;
    outline: 2px solid var(--blue);
    outline-offset: -3em;
    color: white;
    position: relative;
    font-weight: 400;
}

.home-about-textbox h1{
    color: var(--blue);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .3em;
    background:#232323;
    padding: 0 .3em;
}

@media (min-width: 25rem){
    h1{
        font-size: 2.5rem;
    }
}

.home-about-textbox h1{
    top: .65em;
    padding:0 .325em;
}

@media (min-width: 70rem){
    h1{
        font-size: 2.6rem;
    }
    .home-about{
        background-image: url(../img/about.jpg);
        background-position-x:50%;
        background-repeat: no-repeat;
        padding:5em;
    }
    .home-about-textbox{
        width: 40%;
        size: 3em;
        margin-left: -2.5%;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, .75);
    }
}

.home-about-textbox h1{
    top: .5em;
    padding:0 .6em;
    left: 0;
    transform: translateX(0);
}



/* gallery
----------------*/

.gallery{
    margin: 3em 0 0;
}

.gallery-item img{
    width: 100%;
    display: block;
}

.gallery-item{
    margin: 0;
    position: relative;
}

.gallery-description{
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background:rgba(0, 0, 0, .6);
    padding-bottom: 2em;
}

.gallery-description p{
    margin:1em;
}

@media (min-width: 40rem){
    .gallery-item{
        width: 50%;
        float: left;
    }
}
@media (min-width: 60rem){
    .gallery-item{
        width: 33.333%;
        overflow: hidden;
    }
    .gallery-description{
        transform: translateY(150%);
    }
    .gallery-item:hover .gallery-description{
        transform: translateY(0%);
    }
}

/* Alul működő kód, lent a deploy animáció */

/* @media (min-width: 40rem){
    .gallery-item{
        width: 50%;
        float: left;
    }
}
@media (min-width: 60rem){
    .gallery-item{
        width: 33.333%;
        overflow: hidden;
    }
} */

/* CTA
----------------*/

.cta {
    background-color: var(--blue);
    padding: 6em 0;
    color: black;
}


/* Footer
----------------*/

footer{
    background-color: #232323;
    color: white;
    padding:5em 0;
    float: left;
}

/* Contact column system
----------------*/

.contact-list{
    width: 100%;
    margin-top: 1em;
}

.contact-list:first-child{
    padding-left: 0;
    margin-top: 0;
}

.contact-list{
    width: 33%;
    float: left;
}

@media(min-width: 40rem){
    .contact-list{
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }

    .contact-list:first-child{
        padding-left: 0;
    
    }

    .contact-list:last-child{
        padding-right: 0;
    }

    .contact-list{
        width: 33%;
    }
}